.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

static/user_uploads/*
!static/user_uploads/.gitkeep
!static/user_uploads/user_uploads_folder.txt

static/user_renders/*
!static/user_renders/.gitkeep
!static/user_renders/user_renders_folder.txt

models/**
!models/.gitkeep
!models/unpack_models_here.txt

input_videos/*
!input_videos/.gitkeep
